.container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.wrap {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
}

.h1 {
  text-align: center;
  margin: 0 0 15px 0;
}